node_modules
temp
.tmp
dist
.sass-cache
extension/app/bower_components
extension/test/bower_components
package

chromeapp/app/bower_components
chromeapp/test/bower_components
chromeapp/bower_components
chromeapp/node_modules

# OSX
.DS_STORE

